<div class="course-container">
    <div>
        <img src="" width="560" height="280">
    </div>
    <div>
        <h1 style="text-align: center;">Course Name</h1>
    </div>
    <div class="course-details">
        <div style="margin: 0px 10px;"><b>Author: </b></div>
        <div style="margin: 0px 10px;"><b>Duration: </b></div>
        <div style="margin: 0px 10px;"><b>Type: </b></div>
    </div>
    <div style="margin: 0px 10px;">
        <h2>Price: </h2>
    </div>
    <div style="margin: 20px 10px;">
        <p>Description</p>
    </div>
</div>