<div class="main-container">
    <div class="nav-container">
        <ul>
            <li><a href ="#">Home</a></li><!-- localhost:4200/Home -->
            <li><a href ="#">About</a></li><!-- localhost:4200/About -->
            <li><a href ="#">Contact</a></li><!-- localhost:4200/Contact -->
            <li><a href ="#">Courses</a></li><!-- localhost:4200/Courses -->
        </ul>
    </div>
    <div class="component-container">
        <app-home></app-home>
        <app-about></app-about>
        <app-contact></app-contact>
        <app-courses></app-courses>
    </div> 
</div>
